name: reset

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4        

      - name: Clean old commits
        run: |
            git config --global user.name "tzagim"
            git config --global user.email "username@users.noreply.github.com"
            git checkout --orphan latest_branch
            git add -A
            git commit -am "Clean old commits"
            git branch -D main
            git branch -m main
            git push -f origin main
